.mat-list .mat-list-item {margin-bottom: 20px; font-size: 14px;} 
.mat-list .mat-list-item.md-3-line .mat-list-item-content {height: auto;} 
.mat-list .mat-list-item.md-3-line .mat-list-item-content p {margin: 0; padding: 0;}